/********************************************************
 * TYPOGRPAHY
 ******************************************************** */

[data-type="headersmall"] {
  font-size: 12px;
  line-height: 12px;
  font-family: $akkurat;
}

[data-type="headermedium"] {
  font-size: 14px;
  line-height: 14px;
  font-family: $akkurat;
}

[data-type="sanssmall"] {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  font-family: $akkurat;
}

[data-type="sansmedium"] {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
  font-family: $akkurat;
  @include thinner-than(600px) {
    font-size: 14px;
    line-height: 20px;
  }
}

[data-type="sanslarge"] {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  font-family: $akkurat;
  @include thinner-than(600px) {
    font-size: 16px;
    line-height: 20px;
  }
}

[data-type="heromedium"] {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  @include thinner-than(600px) {
    font-size: 26px;
    line-height: 32px;
  }
}

[data-type="herolarge"] {
  font-size: 44px;
  line-height: 46px;
  letter-spacing: 0.3px;
  @include thinner-than(600px) {
    font-size: 36px;
    line-height: 36px;
  }
}