$breakpointMedium: 800px;
$breakpointThinnest: 600px;

.cell {
  height: 80px;
  width: 80px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;

  @include thinner-than($breakpointMedium) {
    height: 60px;
    width: 60px;
  }

  @include thinner-than($breakpointThinnest) {
    height: 30px;
    width: 30px;
  }

  input {
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    transition: all .5s ease;

    &[disabled] {
      opacity: 0.5;
    }

    &[data-invalid="true"] {
      color: $colorRed;
      font-weight: bold;
    }
  }
}